* {
    font-family: 'chewy', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url (https://img.freepik.com/free-vector/abstract-halftone-wallpaper-theme_23-2148585560.jpg);
}