*{
    padding: 0;
    margin: 0;
}

:root {
    --border: rgba(0, 195, 255, 0.932);
    --backboard: #ffffff67;
}

body {
    background-image: url(https://mcdn.wallpapersafari.com/medium/50/32/x8z2RI.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.Games {
    background-color: var(--backboard);
    text-align: center;
    font-size: 35px;
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--backboard);
    text-align: center;
    font-size: 25px;
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
}

.nav-bar a {
    color: black;
}

a:hover {
    color: rgb(125, 1, 1);
}

.flexy-main {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: 2px solid var(--border);
    border-radius: 5px;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    border: 2px solid var(--border);
    background-color: var(--backboard);
    width: 200px;
}

button {
    padding: 5px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--backboard);
    color: black;
    border: 2px solid var(--border);
    font-size: larger;
    text-decoration: underline var(--border);
}

button:hover {
    transform: scale(1.06);
    color: var(--border);
}

.txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 28px;
    border: 2px solid var(--border);
    padding: 10px;

}