*{
    padding: 0;
    margin: 0;
}

:root {
    --bluetxt: rgb(55, 0, 166);
    --red: rgb(125, 1, 1);
    --bordercolor: rgb(0, 0, 179);

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 4px solid var(--bordercolor);
    border-radius: 8px;
    padding: 15px;
    margin: auto;
    color: bisque;
    font-size: 35px;
}

/* DARK THEME */

body {
    background-color: white;
}

/* LIGHT THEME */

body.dark-theme {
    background-color: black;
}
span {
    margin: 20px;
}


.navbar {
    border: 2px solid bisque;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
}

.navbar a {
    margin: auto;
    text-decoration: overline;
    font-size: 25px;
    color: var(--bluetxt);
}


a:hover {
    color: var(--linkHover);
}

.flex-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    height: 100vh;
}

#G {
    color: var(--bluetxt);

}

#and {
    color: var(--red);
    border: 2px solid bisque;
    margin: 2px;
    padding: 5px;
    width: 100px;
    height: fit-content;
}

#center {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--red);
    text-align: center;
    width: 50%;
    padding: 15px;
    height: 500px;

}

.about-page h1 {
    padding: 10px;
    font-size: 20px;
}

.about-page p {
    flex-wrap: wrap;
    padding: 10px;
    color: bisque;

}

.img {
    height: 500px;
    width: auto;
    border: 2px solid var(--bordercolor);
    padding: 5px;
    border-radius: 5px;
}

.img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px){
    .flex-main {
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (max-width: 768px) {
    #center {
        width: 100%;
    }    
}